<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/contents.css">
        <link rel="stylesheet" href="/styles/components/about.css">
        <title>OFW: Ang Mga Bagong Bagani</title>
    </head>
    <body>
        <section class="header">
            <header>
                <h1 class="title formal-font">BAGANI</h1>
                <h6 class="subtitle text-warning">Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</h6>
            </header>
            <nav>
                <ul class="nav-links">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/articles">Articles</a> 
                    </li>
                    <li>
                        <a href="/interviews" class="active">Interviews</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/movies">Movies</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </nav>
        </section>
        <main class="wrapper">
            <h2 class="article-title text-center fw-bold fs-1 text-warning mb-4">Meet the Team</h2>
            <div class="team">
                <div class="member">
                    <div class="member-header mb-4">
                        <img src="/images/profile.jpg" alt="Margaret Tuiza" class="img-fluid rounded-circle member-img">
                        <div class="member-details">
                            <h5 class="member-name reset fw-bold">Margaret Tuiza</h5>
                            <p class="member-role reset">Group Manager / Writer</p>
                        </div>
                    </div>
                    <p class="member-reflection text-justify reset">
                        Nakapagbigay inspirasyon ang paksang “Bagani: Mga Kwento ng Kabayanihan ng mga Manggagawang Pilipino sa Iba’t Ibang Bahagi ng Mundo” sa kursong ito dahil, bilang isang mag-aaral, nakapagbukas ng mata para sa akin ang pag-aaral ng kasaysayan at kalagayan ng mga OFW. Nalaman ko kung gaano sila kahalaga sa ating ekonomiya, pero nakakalungkot din na makita ang mga panganib at pang-aabuso na kanilang kinakaharap, tulad ng pagnanakaw sa sahod at human trafficking, sa kabila ng mga batas tulad ng RA 11641, 8042, at 10022. Ang pagkilala sa kanila bilang modernong Bagani ay nagbigay sa akin ng bagong pananaw sa kanilang sakripisyo—tulad ng mga mandirigma na lumalaban para sa kanilang pamilya at bansa.
                        <br><br>
                        Itinuro sa akin ng kursong ito na tingnan ang kasaysayan bilang mga buhay na kuwento na patuloy na humuhubog sa Pilipinas ngayon, at nakakatuwang malaman ang higit pa tungkol sa ating nakaraan at kung ano ang kailangan nating malaman upang maunawaan kung paano tayo mabubuhay o nabubuhay. At ibinalik nito ang aking interes na matuto nang higit pa tungkol sa kasaysayan ng mga bagay at kung ano ang matututuhan ko mula sa kanila tungkol sa nakaraan at ngayon.
                        <br><br>
                        Sa pamamagitan ng paglikha ng e-magazine na ito, natutunan naming magsaliksik magsulat ng mga artikulo, at makipagtulungan at makipag-usap nang maayos sa isa't isa para sa isang maayos na pag-unlad sa proyektong ito.  Sa pangkalahatan, ang aming paksa, ang e-magazine, at ang kursong ito, ay nagpaalala sa akin na ang kasaysayan ay tungkol sa kung ano ang mayroon tayo para sa hinaharap para sa bawat Pilipino sa bansa o internasyonal.
                    </p>
                </div>
                <div class="member">
                    <div class="member-header mb-4">
                        <img src="/images/profile.jpg" alt="Ken Cayanan" class="img-fluid rounded-circle member-img">
                        <div class="member-details">
                            <h5 class="member-name reset fw-bold">Ken Cayanan</h5>
                            <p class="member-role reset">Index Card Manager / Writer</p>
                        </div>
                    </div>
                    <p class="member-reflection text-justify reset">
                        Simula pa lamang ng pagbuo sa konsepto ng proyektong ito, malinaw na sa amin na ihambing ang mga Overseas Filipino Workers (OFW) sa mga Bagani noong pre-kolonyal na panahon. Lubos kaming naniniwala na ang diwa ng kabayanihan ay hindi nawawala sa ating pagkamamamayan—-nag-iiba lamang ito ng anyo. Kung ang mga Bagani noon ay ay handang magbuwis ng lakas at buhay upang ipagtanggol ang kanilang pamayanan; ang ating mga OFW sa kasulukuyan ay nagpapakita ng kaparehong katangian sa ibang paraan. Handa silang magsakripisyo upang makipagsapalaran sa ibang bansa para sa kinabukasan ng kanilang pamilya at ating bayan.
                        <br><br>
                        Bukod sa pagbibigay-pugay sa kanilang kabayanihan, atin din sanang pagtuunan ng pansin ang kanilang araw-araw na pagharap sa sistematikong hamon at legal na laban—-mula sa hindi patas na kontrata hanggang sa pang-aabuso at kakulangan ng proteksyon. Patuloy tayong manawagan sa mga sangay ng gobyerno na magpatibay ng mga polisiya at programang magbibigay halaga sa kanilang kapakanan.
                        <br><br>
                        Panahon na upang maging Bagani din tayo ng mga Bagani ng kasulukuyang panahon. Sa ganitong paraan, maipapakita natin na ang diwa ng kabayanihan ay buhay at nananalaytay sa dugo ng bawat Pilipino. Bagani tayo ngayon!
                    </p>
                </div>
                <div class="member">
                    <div class="member-header mb-4">
                        <img src="/images/profile.jpg" alt="Scott Abendan" class="img-fluid rounded-circle member-img">
                        <div class="member-details">
                            <h5 class="member-name reset fw-bold">Scott Abendan</h5>
                            <p class="member-role reset">Writer / Interviewer of OFW</p>
                        </div>
                    </div>
                    <p class="member-reflection text-justify reset">
                        Sa kursong ito, natutunan ko ang kahalagahan ng pag-unawa sa ating kasaysayan at kung paano ito naikokonekta sa kasalukuyan. Ipinakita sa aming mga lessons sa klase na ang kabayanihan ay hindi lamang matatagpuan sa nakaraan, kundi nagpapatuloy pa rin ito ngayon sa maraming mga paraan. 
                        <br><br>
                        Sa paggawa ng proyektong ito, mas lalo kong naintidihan ang kahalagahan ng mga Overseas Filipino Workers (OFWs) bilang mga Bagani ng panahon ngayon. Tulad ng mga Bagani noong nakaraan na nag sakripisyo para sa kanilang mga komunidad, ang ating mga OFWs ay nag sakripisyo at nagtatrabaho sa ibang bansa para sa kinabukasan ng kanilang mga pamilya. 
                        <br><br>
                        Nainterbiew ko si Tyrone Maningas, isang OFW na halos dalawampung taong nagtrabaho sa ibang bansa. Ibinahagi niya ang kanyang mga sakripisyo tulad ng pangungulila sa kanyang pamilya, pagharap sa hindi patas na kondisyon sa trabaho, at patuloy na pagsusumikap para sa mas maganadang kinabukasan ng kanyang pamilya. 
                        <br><br>
                        Dito ko narealize na hindi sapat na tawagin lang silang, “modern day heroes” kung walang sapat na proteksyon at support mula sa pamahalaan. Kailangan natin silang alagaan at suportahan upang maipakita na ang diwa ng pagiging Bagani ay mahalaga pa rin hanggang ngayon.
                    </p>
                </div>
                <div class="member">
                    <div class="member-header mb-4">
                        <img src="/images/profile.jpg" alt="Lawrence Regondola" class="img-fluid rounded-circle member-img">
                        <div class="member-details">
                            <h5 class="member-name reset fw-bold">Lawrence Regondola</h5>
                            <p class="member-role reset">Writer</p>
                        </div>
                    </div>
                    <p class="member-reflection text-justify reset">
                        Sa kursong ito ay marami akong natutunan at nakuhang bagong kaalaman tungkol sa pinanggalingan nating mga pilipino. Natutunan ko din sa kursong ito ang mga ginawa na kabayanihan ng mga pilipino noong nakaraan at sa henerasyon ngayon sa iba't ibang paraan upang ipinamalas ang kakayahan nating mga pinoy.
                        <br><br>
                        Sa pagbuo ng proyekto na pinamagatang namin na Bagani, inilahad namin dito ang mga ginawang sakripisyo ng mga OFW upang may maibigay na sapat na tulong sa kanilang pamilya naiwan sa bansa. At ang pagsasalarawan sa ibang bansa ay hindi biro, kailangan mo talagang pag isipan na mabuti at kayang harapin ang mga pagsubok. Mayroon din na batas na ipinatupad upang bigyan ng proteksyon ang mga OFW laban sa pang aabuso sa ibang bansa.
                    </p>
                </div>
                <div class="member">
                    <div class="member-header mb-4">
                        <img src="/images/profile.jpg" alt="Christian Mendoza" class="img-fluid rounded-circle member-img">
                        <div class="member-details">
                            <h5 class="member-name reset fw-bold">Christian Rae Mendoza</h5>
                            <p class="member-role reset">Writer</p>
                        </div>
                    </div>
                    <p class="member-reflection text-justify reset">
                        Ang kursong ito ay mahalaga sa pagpapakita ng mga bagay tungkol sa ating pinanggalingan, naranasan, at patutunguhan bilang isang bansa. Natutunan ko ang disiplina ng kasaysayan at ang paggamit ng mga primaryang batis upang mas maunawaan ang nakaraan. Naibahagi rin dito ang interdisiplinaryong lapit at iba’t ibang perspektiba upang mas malalim na suriin ang kasaysayan ng Pilipinas. Tinalakay ang pagkakabuo ng kapuluan at sinaunang kabihasnan, kasama ang kanilang mga ambag at kahalagahan sa pagkabansa. Sinuri rin ang pagsilang at pagtatatag ng bansang Pilipinas mula sa panahon ng kolonyalismong Espanyol, Amerikano, at Hapon, pati na ang mga pagbabagong naganap sa lipunan. Ilan lamang ito sa mga konseptong aking natutunan sa kursong ito, na higit pang nagpalawak at nagbigay ng mas malalim at makabuluhang kaalaman kaysa sa dati kong alam.
                        <br><br>
                        Sa pagbuo ng aming proyektong pinamagatang Bagani, mas malinaw kong naunawaan ang mga hamon at sakripisyong pinagdadaanan ng ating mga modernong bayani, ang mga taong nagtitiyaga at nagpupursigi upang mabigyan ng magandang kinabukasan ang kanilang pamilya. Binigyang-pansin din ang mga batas na ipinatupad upang protektahan ang mga OFW laban sa pang-aabuso at pagmamaltrato sa ibang bansa.
                        <br><br>
                        Gaya ng ating mga sinaunang bayani, ang kanilang kwento ay hindi pagtatapos kundi simula ng mga pagbabago tungo sa pagpapabuti ng kanilang buhay at ng lipunang kanilang pinaglilingkuran.
                    </p>
                </div>
                <div class="member">
                    <div class="member-header mb-4">
                        <img src="/images/profile.jpg" alt="Dave Gagala" class="img-fluid rounded-circle member-img">
                        <div class="member-details">
                            <h5 class="member-name reset fw-bold">Dave Gagala</h5>
                            <p class="member-role reset">Web Developer</p>
                        </div>
                    </div>
                    <p class="member-reflection text-justify reset">
                        Napakalaki ng aking respeto sa ating mga OFW. Hindi lang dahil sila ay nakatutulong sa kanilang mga pamilya upang guminhawa ang kanilang buhay, ngunit pati na rin sa kanilang mga sakripisyo upang makamit ang buhay na kanilang pinapangarap. Marami sa ating mga Pilipino ang niroromantisa ang pag-iibang bansa, na para bang ito lamang ang paraan upang umasenso sa buhay. Ngunit higit sa kaalaman natin, malaking sakripisyo ang kaakibat nito-malayo sa pamilya, hindi sigurado ang kaligtasan, at maaaring maging biktima ng diskriminasyon at rasismo-para sa magandang kinabukasan.
                        <br><br>
                        Dahil sa proyektong ito, ako’y mas namulat sa mga sitwasyon na hinaharap ng ating kapwa Pilipino sa ibang bansa. Tulad ng mga Bagani, ang mga OFW ay kaya isakripisyo ang kanilang sariling kapakanan para sa kanilang pamilya.
                        <br><br>
                        Ang internet ang isa sa pinaka maaasahang midyum upang maglahad ng impormasyon. At ako’y umaasa na sa simpleng website na ito, marami kaming maaabot na kabataan-at imulat ang kanilang mata upang sabay-sabay nating palakasing ang boses ng ating mga OFW. Nais ko rin itong ipagpatuloy at mas lalo pang pagandahin nang sa gayon ay mas maraming impormasyon ang mailalahad natin sa madla.
                        <br><br>
                        Madalas mang umaalis ng bansa ang mga OFW, sila ay laging mananatili sa ating mga puso.
                    </p>
                </div>
            </div>
        </main>
        <footer>
            <p class="footer-left">BAGANI | Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</p>
            <p class="footer-rights">All rights reserved. 2025</p>
        </footer>
    </body>
</html>