<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/components/articles.css">
        <link rel="stylesheet" href="/styles/contents.css">
        <title>OFW: Ang Mga Bagong Bagani</title>
    </head>
    <body>
        <section class="header">
            <header>
                <h1 class="title formal-font">BAGANI</h1>
                <h6 class="subtitle text-warning">Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</h6>
            </header>
            <nav>
                <ul class="nav-links">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/articles" class="active">Articles</a> 
                    </li>
                    <li>
                        <a href="/interviews">Interviews</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/movies">Movies</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="articles wrapper">
            <h2 class="formal-font mb-4 text-center">Articles</h2>
            <div class="articles-container d-flex flex-column gap-4">
                <article>
                    <div class="badges mb-3">
                        <span class="badge text-bg-warning">Featured</span>
                    </div>
                    <h3 class="article-title">Bagani sa Daloy ng Panahon</h3>
                    <p class="article-author mb-4"><i class="bi bi-person-fill"></i> Margaret Tuiza</p>
                    <h6 class="article-content-preview mb-4">Mga Overseas Filipino Workers (OFW) ang tunay na sandigan ng ekonomiya natin, na nagpapadala ng bilyun-bilyong remittances habang hinaharap ang matitinding hamon sa ibang bansa. Para silang mga makabagong mandirigma, o Bagani, na nagsasakripisyo para sa pamilya. Pero kahit may mga batas tulad ng Republic Act No. 11641, 8042, at 10022, marami pa ring nakakaranas ng pang-aabuso at panganib. Sa artikulong ito, susuriin natin ang kwento nila—mula sa pinagmulan, kasalukuyang sitwasyon, kung bakit sila parang Bagani, epekto ng mga batas, at ano pa ang pwede nating gawin. Ito’y puno ng kasaysayan, emosyon, at pag-asa, na sinusuportahan ng pinakabagong pananaliksik.</h6>
                    <a href="/articles/bagani-sa-daloy-ng-panahon" class="fit">Read More <i class="bi bi-arrow-right"></i></a>
                </article>
                <article>
                    <div class="badges mb-3">
                        <span class="badge text-bg-warning">News Article</span>
                    </div>
                    <h3 class="article-title">Ang Republic Act No. 11641</h3>
                    <p class="article-author mb-4"><i class="bi bi-person-fill"></i> John Lawrence Regondola</p>
                    <h6 class="article-content-preview mb-4">Ang Republic Act No. 11641 ay ginawa upang pagsamahin sa isang departamento ang iba’t ibang ahensya ng gobyerno na may kinalaman sa pagtulong at pagprotekta sa mga Overseas Filipino Workers (OFWs). Noon, hiwa-hiwalay ang mga ahensya na ito kaya minsan mahirap para sa mga OFWs na alamin kung saan sila hihingi ng tulong o mag-aasikaso ng kanilang dokumento. Sa pamamagitan ng bagong batas, mas pinadali ang proseso dahil may isang ahensya na lang na tututok sa lahat ng pangangailangan nila.</h6>
                    <a href="/articles/ang-republic-act-no-11641" class="fit">Read More <i class="bi bi-arrow-right"></i></a>
                </article>
                <article>
                    <div class="badges mb-3">
                        <span class="badge text-bg-warning">Legal Article</span>
                    </div>
                    <h3 class="article-title">Bagani Ng Nayon</h3>
                    <p class="article-author mb-4"><i class="bi bi-person-fill"></i> Ken Cayanan</p>
                    <h6 class="article-content-preview mb-4">Ang nayon ay ang puso ng pamayanan at saksi ito sa tapang at diwa ng bayani mula noon hanggang ngayon. Noon: Ang Bagani ng nayon ay humaharap sa kalaban sa lantad na larangan sa ngalan ng kanilang pamayanan. Sibat sa kamay. Kalasag sa dibdib. Handang ialay ang sarili para sa kapatiran ng bayan.</h6>
                    <a href="/articles/bagani-ng-nayon" class="fit">Read More <i class="bi bi-arrow-right"></i></a>
                </article>
            </div>
        </section>
        <footer>
            <p class="footer-left">BAGANI | Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</p>
            <p class="footer-rights">All rights reserved. 2025</p>
        </footer>
    </body>
</html>