<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/contents.css">
        <link rel="stylesheet" href="/styles/components/disclaimer.css">
        <title>OFW: Ang Mga Bagong Bagani</title>
    </head>
    <body>
        <section class="header">
            <header>
                <h1 class="title formal-font">BAGANI</h1>
                <h6 class="subtitle text-warning">Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</h6>
            </header>
            <nav>
                <ul class="nav-links">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/articles">Articles</a> 
                    </li>
                    <li>
                        <a href="/interviews">Interviews</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/movies">Movies</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/disclaimer" class="active">Disclaimer</a>
                    </li>
                </ul>
            </nav>
        </section>
        <main class="wrapper">
            <h2 class="formal-font text-center fw-bold fs-1">Disclaimer</h2>
            <p class="text-center fs-small">All information on this website is for educational purposes only. The views and opinions expressed in the articles, interviews, and other content are those of the authors and do not necessarily reflect the views of the website or its sponsors. The website does not guarantee the accuracy, completeness, or timeliness of the information provided. The website is not responsible for any errors or omissions, or for the results obtained from the use of this information. The website is not responsible for any damages or losses resulting from the use of this information.</p>
            <p class="text-center fs-small mb-4">Some images used in this website are AI-generated and are intended for illustrative purposes only. They do not depict actual event, person, or places unless otherwise stated.</p>
            <section class="sources">
                <h3 class="formal-font text-center fw-bold fs-1">Sources</h3>
                <div class="articles-sources sources-container mb-4">
                    <h4 class="formal-font text-left fw-bold fs-1">Articles</h4>
                    <div class="article-source">
                        <p class="website-name reset">Republic Act No. 11641. (2021). Lawphil.net.</p>
                        <a href="https://lawphil.net/statutes/repacts/ra2021/ra_11641_2021.html" class="website-link">https://lawphil.net/statutes/repacts/ra2021/ra_11641_2021.html</a>
                    </div>
                    <div class="article-source">
                        <p class="website-name reset">Respicio, H. (2025, July 17). RESPICIO & CO. RESPICIO & CO.s</p>
                        <a href="https://www.respicio.ph/commentaries/labor-code-article-18-amendment-ra-11641-philippines" class="website-link">https://www.respicio.ph/commentaries/labor-code-article-18-amendment-ra-11641-philippines</a>
                    </div>
                    <div class="article-source">
                        <p class="website-name reset">Duterte signs law creating Department of Migrant Workers. (n.d.). Philippine News Agency</p>
                        <a href="https://www.pna.gov.ph/articles/1164079" class="website-link">https://www.pna.gov.ph/articles/1164079</a>
                    </div>
                    <div class="article-source">
                        <p class="website-name reset">Ramos, C. M. (2021, March 8). Nearly 5,000 cases of abused OFWs recorded in 2020 | Global News. INQUIRER.net</p>
                        <a href="https://globalnation.inquirer.net/194235/fwd-nearly-5k-cases-of-ofw-maltreatment-recorded-in-2020-polo-data-shows" class="website-link">https://globalnation.inquirer.net/194235/fwd-nearly-5k-cases-of-ofw-maltreatment-recorded-in-2020-polo-data-shows</a>
                    </div>
                    <div class="article-source">
                        <p class="website-name reset">Eugenio, L. J. (2023, August 11). Overseas Filipino workers: the Modern-Day heroes of the Philippines. Harvard International Review.</p>
                        <a href="https://hir.harvard.edu/overseas-filipino-workers-the-modern-day-heroes-of-the-philippines/" class="website-link">https://hir.harvard.edu/overseas-filipino-workers-the-modern-day-heroes-of-the-philippines/</a>
                    </div>
                    <div class="article-source">
                        <p class="website-name reset">Modern slavery in The Philippines | Walk Free. (n.d.). Walk Free.</p>
                        <a href="https://www.walkfree.org/global-slavery-index/country-studies/the-philippines/" class="website-link">https://www.walkfree.org/global-slavery-index/country-studies/the-philippines/</a>
                    </div>
                </div>
                <div class="movies-sources sources-container mb-4">
                    <h4 class="formal-font text-left fw-bold fs-1">Movies</h4>
                    <div class="movie-source">
                        <p class="website-name reset">J, C. (2025, March 18). 9 Filipino films about OFWs that capture the struggles and triumphs of every Filipino worker. Go For Lokal [G4l].</p>
                        <a href="https://www.goforlokal.com/entertainment/filipino-films-about-ofws/" class="website-link">https://www.goforlokal.com/entertainment/filipino-films-about-ofws/</a>
                    </div>
                    <div class="movie-source">
                        <p class="website-name reset">Javier, B. H. (2024, November 20). 5 OFW movies to watch if you loved 'Hello, Love, Goodbye’  | ABS-CBN Entertainment. ABS-CBN.</p>
                        <a href="https://www.abs-cbn.com/starcinema/articles-news/5-ofw-movies-to-watch-if-you-loved-hello-love-goodbye-23298" class="website-link">https://www.abs-cbn.com/starcinema/articles-news/5-ofw-movies-to-watch-if-you-loved-hello-love-goodbye-23298</a>
                    </div>
                </div>
                <div class="interview-sources sources-container mb-4">
                    <h4 class="formal-font text-left fw-bold fs-1">Interviews</h4>
                    <div class="interview-source">
                        <p class="website-name reset">Tyrone Maningas</p>
                        <p class="website-link reset">Overseas Filipino Worker</p>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <p class="footer-left">BAGANI | Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</p>
            <p class="footer-rights">All rights reserved. 2025</p>
        </footer>
    </body>
</html>