<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/components/home.css">
        <link rel="stylesheet" href="/styles/contents.css">
        <script src="/src/home.js" defer></script>
        <title>OFW: Ang Mga Bagong Bagani</title>
    </head>
    <body>
        <section class="header">
            <header>
                <h1 class="title formal-font">BAGANI</h1>
                <h6 class="subtitle text-warning">Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</h6>
            </header>
            <nav>
                <ul class="nav-links">
                    <li>
                        <a href="/home" class="active">Home</a>
                    </li>
                    <li>
                        <a href="/articles">Articles</a> 
                    </li>
                    <li>
                        <a href="/interviews">Interviews</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/movies">Movies</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="hero wrapper">
            <div class="hero-content">
                <span class="badge text-bg-warning">Featured</span>
                <h1 class="supertitle formal-font">Bagani sa Daloy ng Panahon</h1>
                <h6 class="hero-subtitle">"Saan ba nagsimula ang konsepto ng Overseas Filipino Workers (OFW)?". An Exploration of the historical roots of Filipino labor migration.</h6>
                <a href="/articles/bagani-sa-daloy-ng-panahon" class="btn btn-warning fit">Read More</a>
            </div>
            <div class="hero-image">
                <img src="/images/ofw_bagani.png" alt="OFW and Bagani facing each other" class="img-fluid">
            </div>
        </section>
        <section class="editor wrapper">
            <div class="editor-header">
                <span class="text-warning">EDITOR'S NOTE</span>
                <h1 class="supertitle formal-font">EDITOR'S<br><span class="text-warning">LETTER</span></h1>
                <span class="line"></span>
            </div>
            <div class="editors-preview">
                <h5 class="formal-font fs-1 mb-4 line-below">Sa Diwa ng mga Bagani</h5>
                <p class="text-justify">
                    Sa bawat panahon ng ating kasaysayan, may mga mandirigmang handang magbuwis ng lahat para sa kinabukasan ng kanilang komunidad at bayan. Bagani ang tawag dito ng ating mga ninuno noon sapagkat may tapang silang mag-alay ng lakas at buhay para sa kapakanan ng kanilang pamayanan. <br><br>
                    Sa makabagong panahon, may panibagong anyo at diwa ang mga ‘Bagani’ ng ating bayan. Sa pagkakataong ito, hindi sibat o kalasag ang kanilang dalang armas kung hindi dalisay na determinasyon at lakas ng loob makipagsapalaran sa ibang bansa upang maitaguyod ang kanilang pamilya at makatulong sa pag-unlad ng ekonomiya ng bansa. <br><br>
                    Mula sa ugat ng ating kasaysayan at konsepto ng mandirigmang Bagani, ating saksihan kung paanong ang diwang ito ay kasalukuyang nabubuhay sa katauhan ng ating mga Overseas Filipino Workers (OFW). Tuklasin natin ang Bagani Sa Daloy ng Panahon, kung saan ating sisiyasatin ang kasaysayan ng migrasyon ng mga kapwa natin Pilipino. Tunghayan natin sa Bagani ng Ngayon ang mga kwento ng sakripisyo, lakas ng loob, at kabayanihan ng ating mga OFW. At lingapin natin sa Bagani ng Nayon kung paano nila hinaharap ang mga sistematikong hamon at pagsubok sa larangan ng hustisya, kasama ang tinig ng mga taong itinalagang isulong ang kanilang mga karapatan. <br><br>
                    Sa bawat pahina, mararamdaman natin ang pag-usbong ng diwa ng ating mga ‘Bagani’ sa makabagong panahon. Gamitin ang pagkakataong ito upang magbigay pugay sa mga dakilang Pilipino patuloy na nagpupunyagi para sa pamilya, bayan, at dangal sa iba’t-ibang ibayo ng mundo.
                </p>
                <span class="text-muted fst-italic editors-note">Note: Ang mga artikulong nakasaad sa e-magazine na ito ay isinulat sa parehong Filipino at Ingles depende sa nilalaman at layunin ng bawat seksyon upang higit na maipaabot at madaling maunawaan ang mga kwentong ating itinatampok.</span>
            </div>
        </section>
        <footer>
            <p class="footer-left">BAGANI | Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</p>
            <p class="footer-rights">All rights reserved. 2025</p>
        </footer>
    </body>
</html>