<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/contents.css">
        <link rel="stylesheet" href="/styles/components/interviews.css">
        <title>OFW: Ang Mga Bagong Bagani</title>
    </head>
    <body>
        <section class="header">
            <header>
                <h1 class="title formal-font">BAGANI</h1>
                <h6 class="subtitle text-warning">Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</h6>
            </header>
            <nav>
                <ul class="nav-links">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/articles">Articles</a> 
                    </li>
                    <li>
                        <a href="/interviews" class="active">Interviews</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/movies">Movies</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="interviews wrapper">
            <h2 class="formal-font text-center">OFW Stories</h2>
            <p class="text-center mb-4">Real stories of OFWs from around the world</p>
            <div class="interviews-container">
                <article>
                    <div class="badges mb-4">
                        <span class="badge text-bg-warning">Featured</span>
                    </div>
                    <h3 class="article-title">Across Borders, Beyond Sacrifice: The Journey of an OFW</h3>
                    <div class="ofw-details d-flex gap-2">
                        <p class="ofw-name">Tyrone Maningas</p>
                        <p class="ofw-location"><i class="bi bi-geo-alt"></i> Singapore</p>
                    </div>
                    <p class="article-content-preview">When Maningas first left the Philippines to work for a better future abroad, he didn’t bring with him just his luggage and other personal belongings — he also brought with him the weight of his family’s hopes and future. With limited opportunities at home and the promise of better pay overseas, he took the opportunity despite the uncertainties. “My main motivation was providing a better future for my family — education for my children, medical care for my parents, and financial stability,” he shared.</p>
                    <a href="/interviews/tyrone-maningas" class="fit">Read More <i class="bi bi-arrow-right"></i></a>
                </article>
            </div>
        </section>
        <footer>
            <p class="footer-left">BAGANI | Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</p>
            <p class="footer-rights">All rights reserved. 2025</p>
        </footer>
    </body>
</html>