<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/contents.css">
        <link rel="stylesheet" href="/styles/components/article.css">
        <title>Bagani sa Daloy ng Panahon</title>
    </head>
    <body>
        <section class="header">
            <header>
                <h1 class="title formal-font">BAGANI</h1>
                <h6 class="subtitle text-warning">Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</h6>
            </header>
            <nav>
                <ul class="nav-links">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/articles" class="active">Articles</a> 
                    </li>
                    <li>
                        <a href="/interviews">Interviews</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/movies">Movies</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </nav>
        </section>
        <main class="wrapper">
            <div class="main-header mb-4">
                <h2 class="article-title formal-font text-center fw-bold fs-1">Bagani Ng Nayon</h2>
                <div class="article-details d-flex gap-4 justify-content-center align-items-center">
                    <span class="article-author"><i class="bi bi-person-fill"></i>&nbsp;Ken Cayanan</span>
                    <span class="article-time"><i class="bi bi-book"></i>&nbsp;3 min read</span>
                </div>
            </div>
            <article>
                <p>
                    Ang nayon ay ang puso ng pamayanan at saksi ito sa tapang at diwa ng bayani mula noon hanggang ngayon.
                    <br><br>
                    Noon: Ang Bagani ng nayon ay humaharap sa kalaban sa lantad na larangan sa ngalan ng kanilang pamayanan. Sibat sa kamay. Kalasag sa dibdib. Handang ialay ang sarili para sa kapatiran ng bayan.
                    <br><br>
                    Ngayon: Ang nayon ay lumawak. Hindi lamang nito sakop ang iilang kabahayan o komunidad sapagkat sumasaklaw na ito sa iba’t-ibang panig ng mundo kung saan naroon ang ating mga kababayan. At sa malalayong baybayin ng banyagang lupain, ay sumasabak sila sa isang tahimik na digmaan. Walang espada. Walang kalasag. Ang kanilang laban ay wala sa lantad na larangan kundi sa magulong daigdig ng batas, kontrata, at karapatang pantao.
                    <br><br>
                    <span class="fw-bold fs-2">SUGATAN NA YON</span>
                    <br><br>
                    Kadalasan, ang sugat ng ating mga kababayan ay hindi gawa sa matutulis na armas, kung hindi sa mga salitang nakapaloob sa mapanlinlang na kontrata. Ilan sa mga pinakabagabag-pusong kuwento ang mga kabataang Pilipina mula sa Mindanao na ibinenta bilang domestic worker sa Syria sa murang edad. Nabanggit din na ilang opisyal pa mismo ng imigrasyon ang ‘di umano’y sangkot sa pagpapadala sa kanila sa mapanganib na kapalaran.
                    <br><br>
                    Patunay ito na sa kasamaang palad, ilan sa mga sugat na dinanas ng ating mga makabagong Bagani ay galing pa mismo sa mga tao sa sarili nating nayon. Sugatan na ngayon ang mga institusyong naatasang protektahan ang kanilang dangal at karapatan.
                    <br><br>
                    <span class="fw-bold fs-2">BATAS BILANG KALASAG</span>
                    <br><br>
                    Noong Disyembre 2021, naipasa ng senado Department of Migrant Workers Act. Isang polisiyang naglalayong magbigay ng isang mas matibay at mas matibay na kalasag at mas malinaw na proteksyon para sa ating mga Bagani. Layunin nitong pagsamahin ang mga ahensya sa iisang estruktura upang mas mabilis ang aksyon laban sa pang-aabuso.
                    Para sa ilang mga senador, ito’y pagkilala sa ating mga OFW bilang simbolo ng haligi sa ating bayan.

                    HUKUMAN BILANG LARANGAN
                    Noong Pebrero 08, 2022 naglabas ng desisyon ang korte suprema upang mag alala sa mg recruitment agencies na maging tunay na kakampi ng mga OFW at hindi kasangkapan sa natatanggap nilang pang-aabuso. Sa kaso ng laban sa Jerzon Manpower and Trading, Inc., United Taiwan Corporation, at presidente nitong si Clifford Uy Tuazon, binigyang diin ng korte na magbayad ng danyos sa mga naulila ni Emmanuel Nato—isang OFW sa Taiwan na nagkasakit dahil sa mapanganib na kondisyon sa trabaho at biglang pinauwi ng walang due process mula sa kanyang agency. 
                    Para sa korte, ito ay maituturing na hindi lamang paglabag sa batas, kundi isang pagtaliod sa tungkuling pangalagaan ang mga manggagawang Pilipinong nakikipagsapalaran sa ibang bayan. 
                </p>
            </article>
        </main>
        <footer>
            <p class="footer-left">BAGANI | Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</p>
            <p class="footer-rights">All rights reserved. 2025</p>
        </footer>
    </body>
</html>