<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/contents.css">
        <link rel="stylesheet" href="/styles/components/article.css">
        <title>Bagani sa Daloy ng Panahon</title>
    </head>
    <body>
        <section class="header">
            <header>
                <h1 class="title formal-font">BAGANI</h1>
                <h6 class="subtitle text-warning">Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</h6>
            </header>
            <nav>
                <ul class="nav-links">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/articles" class="active">Articles</a> 
                    </li>
                    <li>
                        <a href="/interviews">Interviews</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/movies">Movies</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/disclaimer">Disclaimer</a>
                    </li>
                </ul>
            </nav>
        </section>
        <main class="wrapper">
            <div class="main-header mb-4">
                <h2 class="article-title formal-font text-center fw-bold fs-1">Ang Republic Act No. 11641</h2>
                <div class="article-details d-flex gap-4 justify-content-center align-items-center">
                    <span class="article-author"><i class="bi bi-person-fill"></i>&nbsp;John Lawrence Regondola</span>
                    <span class="article-time"><i class="bi bi-book"></i>&nbsp;2 min read</span>
                </div>
            </div>
            <article>
                <p>
                    Ang Republic Act No. 11641 ay ginawa upang pagsamahin sa isang departamento ang iba’t ibang ahensya ng gobyerno na may kinalaman sa pagtulong at pagprotekta sa mga Overseas Filipino Workers (OFWs). Noon, hiwa-hiwalay ang mga ahensya na ito kaya minsan mahirap para sa mga OFWs na alamin kung saan sila hihingi ng tulong o mag-aasikaso ng kanilang dokumento. Sa pamamagitan ng bagong batas, mas pinadali ang proseso dahil may isang ahensya na lang na tututok sa lahat ng pangangailangan nila.
                    <br><br>
                    Bago pa maipatupad ang batas, napansin ng gobyerno na maraming OFWs ang nahihirapan sa proseso ng pag-aasikaso ng papeles, pagkuha ng tulong kapag may problema sa ibang bansa, at sa pagbalik sa Pilipinas. Ang problema ay hindi maliit dahil maraming Pilipino ang nagtatrabaho sa ibang bansa at umaasa sa gobyerno para sa proteksyon at gabay. Dahil dito, ginawa ang batas para magkaroon ng mas malinaw at organisadong sistema na magbibigay ng tulong mula sa simula ng kanilang pag-alis, habang nagtatrabaho sila abroad, hanggang sa kanilang pagbabalik at pag-reintegrate sa bansa. Layunin nitong gawing mas mabilis, maayos, at accessible ang serbisyo para sa lahat ng OFWs.
                    <br><br>
                    Sa kasalukuyan, naipatupad na ang Department of Migrant Workers at nagsimula na nitong pagsamahin ang mga ahensya tulad ng POEA, ilang tanggapan ng DOLE at DFA, pati ang ilang serbisyo ng OWWA at DSWD. Aktibo itong nagbibigay ng serbisyo tulad ng mas mabilis na proseso sa deployment, mas malinaw na access sa legal at emergency assistance, at suporta sa pagbabalik ng mga OFWs. Bagama’t may mga hamon pa sa paglipat ng mga gawain mula sa dating mga ahensya, patuloy itong gumagana at tinutugunan ang mga pangangailangan ng mga manggagawa sa ibang bansa upang masiguro na may malinaw at tuloy-tuloy na suporta para sa kanila.
                </p>
            </article>
        </main>
        <footer>
            <p class="footer-left">BAGANI | Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</p>
            <p class="footer-rights">All rights reserved. 2025</p>
        </footer>
    </body>
</html>