<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/contents.css">
        <link rel="stylesheet" href="/styles/components/article.css">
        <title>Across Borders, Beyond Sacrifice: The Journey of an OFW</title>
    </head>
    <body>
        <section class="header">
            <header>
                <h1 class="title formal-font">BAGANI</h1>
                <h6 class="subtitle text-warning">Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</h6>
            </header>
            <nav>
                <ul class="nav-links">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/articles">Articles</a> 
                    </li>
                    <li>
                        <a href="/interviews" class="active">Interviews</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/movies">Movies</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </nav>
        </section>
        <main class="wrapper">
            <div class="main-header mb-4">
                <h2 class="article-title formal-font text-center fw-bold fs-1">Across Borders, Beyond Sacrifice: The Journey of an OFW</h2>
                <div class="article-details d-flex gap-4 justify-content-center align-items-center">
                    <span class="article-author"><i class="bi bi-person-fill"></i>&nbsp;Scott Abendan</span>
                    <span class="article-time"><i class="bi bi-book"></i>&nbsp;4 min read</span>
                </div>
            </div>
            <article>
                <p class="reset">
                    <div class="text-w-photo">
                        <figure class="figure">
                            <img src="/images/ofw.png" alt="Portrait of Tyrone Maningas" class="figure-img img-fluid rounded">
                            <figcaption class="figure-caption text-center">Portrait of Tyrone Maningas</figcaption>
                        </figure>
                        <p>
                            When Maningas first left the Philippines to work for a better future abroad, he didn’t bring with him just his luggage and other personal belongings — he also brought with him the weight of his family’s hopes and future.
                            <br><br>
                            With limited opportunities at home and the promise of better pay overseas, he took the opportunity despite the uncertainties. “My main motivation was providing a better future for my family — education for my children, medical care for my parents, and financial stability,” he shared. 
                            <br><br>
                            His OFW story starts at his first deployment in the Middle East, in Dubai, U.A.E., where he worked as a warehouse supervisor for two years. From there his journey crossed borders: four years in the USA as a warehouse and logistics manager, then a decade as a Project Manager in Singapore’s oil and gas industry, and five more years in a transportation company. Each chapter bringing him new challenges and lessons. 
                            <br><br>
                            However, his pursuit for a better tomorrow came at a price. He admitted that, “No amount of money can replace lost time with loved ones.” The loneliness was heavy, yet he found ways to endure — leaning on his faith, bonding with fellow OFWs who became his second family, and keeping in touch through video calls. 	
                            <br><br>
                        </p>
                    </div>
                    Work abroad was not without hardship. Maningas acknowledges that there is often verbal abuse in the workplace. “As long as there is no physical abuse I am committed to continuing my work, even if the conditions are harsh or unsafe,” he says. Yet, there were instances that he had to fight back. In Dubai, when his employer confiscated his passport to prevent him from taking his annual vacation from the Philippine embassy and the Ministry of Labour of Dubai U.A.E. “The he pointed out, stressing the need for stricter monitoring and better benefits for OFWs. 
                    <br><br>
                    Still, there were moments that made every sacrifice worth it. “When I sent my first paycheck home and heard my wife say, ‘Thank you… for everything and for your sacrifices,’ that pride makes the struggle worthwhile.”
                    <br><br>
                    Nineteen years of working overseas has taught Maningas important lessons: resilience is key, and knowing your rights is non-negotiable — you do not have to go through abuse just because, “Research thoroughly — avoid illegal recruiters. Save money. Learn the culture. Prepare emotionally. And never let anyone degrade your dignity.” 
                    <br><br>
                    <div class="quote">“We contribute billions to the economy. We deserve faster legal aid, safer working conditions, and reintegration programs. Stop calling us <strong>‘heros’</strong> if protections remain weak.” - Tyrone Maningas</div>
                    <br><br>
                    <span class="fw-bold fs-2">A Reality Many OFWs Know Too Well</span>
                    <br><br>
                    Maningas’ story is far from unique. Across the globe, OFWs continue to face systematic issues that mirror his experiences. In 2020 alone, nearly 5,000 cases of maltreatment against OFWs were documented by Philippine Overseas Labor Offices, with the Middle East contributing as much as 4,302 cases of abuses (Ramos, 2021). Reports also show that many OFWs were deceived during recruitment, charged excessive fees or trapped in unfair contracts despite legal safeguards (Eugenio, 2023; Walk Free Foundation, n.d.) 
                    <br><br>
                    Eugenio (2023) wrote that these problems were compounded by weak law enforcement and slow implementation of protective measures, leaving workers vulnerable even when policies like the Migrant Workers Act exist. This is the reality Maningas spoke of when he says that laws are not enough — they must be acted on and felt in the lives of those the said laws are meant to protect
                </p>
            </article>
        </main>
        <footer>
            <p class="footer-left">BAGANI | Mga kwento ng Kabayanihan ng mga Pilipinong Manggagawa sa Iba’t-ibang Panig ng Mundo</p>
            <p class="footer-rights">All rights reserved. 2025</p>
        </footer>
    </body>
</html>