a.active {
    color: yellow;
    text-decoration: underline;
    text-decoration-color: yellow;
    text-underline-offset: 8px;
}

footer {
    background-color: black;
    color: white;
    padding: 16px 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.footer-left, .footer-rights {
    margin: 0;
    color: rgb(172, 172, 172);
    font-size: 0.8rem;
}

header {
    padding: 16px 0;
    box-shadow: 0 0.5px 0 white;
}

.header {
    height: 180px;
}


.title, .subtitle {
    text-align: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

nav {
    padding: 20px 0;
    box-shadow: 0 0.5px 0 white;
}

.formal-font {
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    padding: 32px 128px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(16,24,40);
    color: white;
}

.article-content-preview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}