main {
    background-color: rgb(254,242,241);
    color: black;
    min-height: calc(100vh - 180px);
}

article {
    border: 1px solid rgb(99, 99, 0);
    border-radius: 8px;
    padding: 16px;
    background-color: whitesmoke;
    color: black;
    text-align: justify;
}

.quote {
    font-style: italic;
    background-color: #ffff0016;
    border-radius: 8px;
    border-left: 5px solid yellow;
    padding: 32px;
    font-size: 1.1rem;
}

.text-w-photo {
    display: flex;
    gap: 16px;
}

.article-img {
    width: 17%;
    border-radius: 8px;
    object-fit: cover;
    aspect-ratio: 2/3;
}